/*
##     ##    ###    ########  ####    ###    ########  ##       ######## 
##     ##   ## ##   ##     ##  ##    ## ##   ##     ## ##       ##       
##     ##  ##   ##  ##     ##  ##   ##   ##  ##     ## ##       ##       
##     ## ##     ## ########   ##  ##     ## ########  ##       ######   
 ##   ##  ######### ##   ##    ##  ######### ##     ## ##       ##       
  ## ##   ##     ## ##    ##   ##  ##     ## ##     ## ##       ##       
   ###    ##     ## ##     ## #### ##     ## ########  ######## ######## 
*/
:root {
   --blue: #16286a;
   --height-nav-min1024: 110px;
   --height-nav-max768: 60px;
   --grey: rgba(184, 177, 177, 0.29);
}

body,
.nav button {
   box-sizing: border-box;
   font-family: 'Palanquin', sans-serif;
   font-size: 15px;
}

@media (max-width: 768px) {
   body,
   .nav button {
      font-size: 10px;
   }
}

.App {
   margin-right: auto;
   margin-left: auto;
   width: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.content {
   margin-top: var(--height-nav-min1024);
   flex: 1;
   margin-right: 20px;
   margin-left: 20px;
}

@media (max-width: 768px) {
   .App {
      font-size: 11px;
   }
   .content {
      margin-top: var(--height-nav-max768);
   }
}
/*

##    ##    ###    ##     ## 
###   ##   ## ##   ##     ## 
####  ##  ##   ##  ##     ## 
## ## ## ##     ## ##     ## 
##  #### #########  ##   ##  
##   ### ##     ##   ## ##   
##    ## ##     ##    ###    
*/
.nav {
   display: flex;
   align-items: center;
   position: fixed;
   top: 0;
   left: 20px;
   right: 20px;
   padding-top: 10px;
   background: white;
   z-index: 1;
}

.nav .user_icon {
   color: white;
   font-size: 40px;
}

.nav .nav-row {
   display: flex;
   align-items: center;
   padding: 0;
   flex: 1;
}

.nav img {
   width: 250px;
}

.nav .user_button {
   background-color: #16286a;
   display: flex;
   padding: 10px;
   border-radius: 10px;
   align-items: center;
}

.nav .user_links {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   line-height: 22px;
   padding-left: 5px;
}

.nav .user_links a {
   color: white;
   text-decoration: none;
}

.nav .user_links a:nth-child(2) {
   color: white;
   text-decoration: none;
   border-top: 1px solid white;
}

.nav .nav-menu-desktop {
   margin: 0;
   justify-content: space-evenly;
   font-weight: bold;
}

.nav .nav-menu-mobile {
   display: none;
}

.nav .nav-menu-desktop li {
   list-style: none;
   color: var(--blue);
}

.nav .burger_menu {
   display: none;
}

.nav .link {
   text-decoration: none;
   color: var(--blue);
}

.nav button {
   background-color: transparent;
   color: white;
   border: none;
   border-top: 1px solid white;
   padding-top: 0px;
}

@media (max-width: 768px) {
   .nav {
      flex-flow: wrap;
      padding-bottom: 10px;
      border-bottom: 1px solid grey;
   }

   .nav .nav-menu-desktop {
      display: none;
   }

   .nav .link {
      align-self: baseline;
      align-self: center;
   }

   .nav .link img {
      width: 110px;
      align-self: center;
      display: flex;
   }

   .nav .nav-row {
      flex: 1;
      justify-content: flex-end;
   }

   .nav .nav-row .user_button {
      height: 30px;
   }

   .nav .nav-row .user_icon {
      font-size: 36px;
   }

   .nav .nav-menu-mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
   }

   .nav .nav-menu-mobile li {
      list-style: none;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid var(--grey);
      padding: 2px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .nav .nav-menu-mobile {
      padding: 0px 30px;
      border: 1px solid var(--grey);
   }

   .nav .nav-menu-mobile .menu_icons {
      margin-right: 5px;
   }

   .nav .burger_menu {
      display: flex;
      margin-left: 5px;
   }
}

@media (max-width: 425px) {
   .nav .user_links a,
   .nav .user_links button {
      font-size: 9px;
      line-height: 16px;
   }

   .nav .nav-row .user_button {
      padding: 5px;
   }
}

/*
########  #######   #######  ######## ######## ########  
##       ##     ## ##     ##    ##    ##       ##     ## 
##       ##     ## ##     ##    ##    ##       ##     ## 
######   ##     ## ##     ##    ##    ######   ########  
##       ##     ## ##     ##    ##    ##       ##   ##   
##       ##     ## ##     ##    ##    ##       ##    ##  
##        #######   #######     ##    ######## ##     ## 
*/

.network_links {
   display: flex;
   justify-content: space-around;
   width: 60%;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 20px;
}

.network_links svg {
   width: 80%;
}

footer {
   margin-top: 25px;
}

@media (max-width: 425px) {
   footer {
      margin-top: 25px;
   }
}

footer h2,
footer p {
   margin: 0;
}

footer .bottom_footer {
   background-color: var(--blue);
   color: white;
}

footer .footer_links ul {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 20px 0px;
   margin: 0;
}

footer .footer_links li {
   width: 33%;
   list-style: none;
   text-align: center;
   font-weight: bold;
}

footer .footer_links a {
   text-decoration: none;
   color: white;
}

footer .footer_notes h2,
footer .footer_notes p {
   text-align: center;
}

/*
##     ##  #######  ##     ## ######## 
##     ## ##     ## ###   ### ##       
##     ## ##     ## #### #### ##       
######### ##     ## ## ### ## ######   
##     ## ##     ## ##     ## ##       
##     ## ##     ## ##     ## ##       
##     ##  #######  ##     ## ######## 
*/

.background_video {
   background: black;
   margin: 10px auto;
}

.parent_video {
   max-width: 560px;
   margin: auto;
}

.video {
   position: relative;
   height: 0;
   padding-bottom: 56.25%;
   overflow: hidden;
}

.video iframe {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 0;
}

.home_top {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.home_top .actions {
   width: 60%;
}

.home_top .actualites {
   width: 30%;
}

.actions_list {
   display: flex;
   list-style: none;
   flex-wrap: wrap;
   padding: 0;
   justify-content: center;
}

.actions_list li {
   width: 40%;
   height: 200px;
   margin: 10px 10px 10px 0px;
   display: flex;
   border-radius: 30px;
}

.actions_list h3 {
   margin-top: auto;
   margin-bottom: auto;
}

.actions_list a {
   text-decoration: none;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.actions_list li:nth-child(1) {
   background-image: url('https://images.unsplash.com/photo-1592966556929-08111961c071?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
   background-size: cover;
}

.actions_list li:nth-child(2) {
   background-image: url('https://images.unsplash.com/photo-1579208570378-8c970854bc23?ixlib=rb-1.2.1&auto=format&fit=crop&w=1590&q=80');
   background-size: cover;
}

.actions_list li:nth-child(3) {
   background-image: url('https://images.unsplash.com/flagged/photo-1558963675-94dc9c4a66a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80');
   background-size: cover;
}

.actions_list li:nth-child(4) {
   background-image: url('https://images.unsplash.com/photo-1468779036391-52341f60b55d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1821&q=80');
   background-size: cover;
}

.actions_list li a {
   color: var(--blue);
   text-shadow: 1px 2px white;
   text-align: center;
}

@media (max-width: 425px) {
   .home_top .actualites {
      display: none;
      width: 0px;
   }

   .home_top .actions {
      width: 100%;
   }

   .actions_list li {
      width: 40%;
      height: 100px;
      margin: 5px 5px 5px 0px;
      display: flex;
      border-radius: 5px;
   }
}

.home .section_content {
   background-color: var(--grey);
   border-radius: 5px;
}

.home .presentation ul {
   padding: 0px;
   list-style: none;
   display: flex;
   justify-content: space-between;
   margin-bottom: 0;
}

.home .presentation ul li {
   width: 100%;
   text-align: center;
   border: 1px solid var(--blue);
   border-radius: 5px;
   background-color: white;
   margin: 3px;
   margin-bottom: 0;
}

@media (max-width: 425px) {
   .home .presentation ul {
      flex-direction: column;
   }

   .home .presentation ul li {
      width: au;
   }
}

.home .presentation ul li:hover {
   cursor: pointer;
}

.home .presentation ul li h3 {
   margin: 0px;
}

.home .presentation .section_content {
   padding: 0px 15px 5px 15px;
}

.home .presentation .active_button {
   background: var(--blue);
   color: white;
}

.home .presentation .inactive_button {
   background: white;
   color: var(--blue);
}

.home .logos_partenaires {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.home .logos_partenaires img {
   width: 5%;
   align-self: center;
}

@media (max-width: 425px) {
   .home .logos_partenaires {
      width: 60%;
      align-items: center;
      margin-right: auto;
      margin-left: auto;
   }

   .home .logos_partenaires img {
      width: 25%;
      margin-bottom: 10px;
      align-self: center;
   }
}

.home .partenariat h3 {
   text-align: center;
}


/*
   ###    ##       ##       ##     ## ####  ######   ######  ####  #######  ##    ##  ######  
  ## ##   ##       ##       ###   ###  ##  ##    ## ##    ##  ##  ##     ## ###   ## ##    ## 
 ##   ##  ##       ##       #### ####  ##  ##       ##        ##  ##     ## ####  ## ##       
##     ## ##       ##       ## ### ##  ##   ######   ######   ##  ##     ## ## ## ##  ######  
######### ##       ##       ##     ##  ##        ##       ##  ##  ##     ## ##  ####       ## 
##     ## ##       ##       ##     ##  ##  ##    ## ##    ##  ##  ##     ## ##   ### ##    ## 
##     ## ######## ######## ##     ## ####  ######   ######  ####  #######  ##    ##  ######  
*/
.missionsList .cardContainer {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   /* align-content: baseline; */
   padding-inline: 15px;
}


.missionsList .missionCard {
   border: 2px solid grey;
   border-radius: 10px;
   width: 300px;
   height: fit-content;
   padding: 20px;
   margin: 20px;
   background-color: #f8f8f9;
   list-style:none;
}

.missionsList .missionCard a {
   text-decoration: none;
   color: var(--blue);;
}

/*
########  #######  ########  ##     ##  ######  
##       ##     ## ##     ## ###   ### ##    ## 
##       ##     ## ##     ## #### #### ##       
######   ##     ## ########  ## ### ##  ######  
##       ##     ## ##   ##   ##     ##       ## 
##       ##     ## ##    ##  ##     ## ##    ## 
##        #######  ##     ## ##     ##  ######  
*/

.background {
   background-color: #f8f8f9;
}