/*
##     ##    ###    ########  ####    ###    ########  ##       ######## 
##     ##   ## ##   ##     ##  ##    ## ##   ##     ## ##       ##       
##     ##  ##   ##  ##     ##  ##   ##   ##  ##     ## ##       ##       
##     ## ##     ## ########   ##  ##     ## ########  ##       ######   
 ##   ##  ######### ##   ##    ##  ######### ##     ## ##       ##       
  ## ##   ##     ## ##    ##   ##  ##     ## ##     ## ##       ##       
   ###    ##     ## ##     ## #### ##     ## ########  ######## ######## 
*/
:root {
   --blue: #16286a;
   --height-nav-min1024: 110px;
   --height-nav-max768: 60px;
   --grey: rgba(184, 177, 177, 0.15);
   --linear: linear-gradient(45deg, #f8f8f9, transparent);
   --background-image: url('https://images.unsplash.com/photo-1505816014357-96b5ff457e9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1782&q=80');
}

body,
.nav button {
   box-sizing: border-box;
   font-family: 'Palanquin', sans-serif;
   font-size: 12px;

}

@media (max-width: 768px) {
   body,
   .nav button {
      font-size: 10px;
   }
}

.App {
   margin-right: auto;
   margin-left: auto;
   width: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   font-size: 12px;
   max-width: 1145px;
}

h2 {
   font-size: 18px;
}

h3 {
   margin: 10px 2px;
}

.content {
   margin-top: var(--height-nav-min1024);
   flex: 1;
   margin-right: 60px;
   margin-left: 60px;
}

@media (max-width: 768px) {
   .App {
      font-size: 11px;
   }
   .content {
      margin-top: var(--height-nav-max768);
   }
}

@media (max-width: 425px) {
   .content {
      margin: 0px;
   }
}

.all_buttons {
   display: block;
   margin-right: auto;
   margin-left: auto;
   background: var(--blue);
   color: white;
   border: none;
   padding: 10px;
   border-radius: 5px;
   text-align: center;
   font-size: 12px;
   cursor: pointer;
}

.all_buttons:hover {
   background: white;
   color: var(--blue);
   border: 1px solid var(--blue);
}

.no_link {
   color: black;
}

.enChargement {
   font-size: 40px;
   text-align: center;
   position: absolute;
   display: flex;
   flex-direction: column;
   width: 80%;
   margin: auto;
   align-items: center;
   height: 50vh;
   right: 100px;
   left: 100px;
   border-radius: 100px;
}

@media (max-width: 425px) {
   .enChargement {
      margin-top: var(--height-nav-max768);
      width: auto;
   }
}

input::placeholder {
   color: var(--blue);
}

input:focus {
   border: 1px solid var(--blue);
}
/*

##    ##    ###    ##     ## 
###   ##   ## ##   ##     ## 
####  ##  ##   ##  ##     ## 
## ## ## ##     ## ##     ## 
##  #### #########  ##   ##  
##   ### ##     ##   ## ##   
##    ## ##     ##    ###    
*/
.nav {
   display: flex;
   align-items: center;
   position: fixed;
   top: 0;
   left: 20px;
   right: 20px;
   padding-top: 10px;
   background: white;
   z-index: 1;
   box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
   max-width: 1145px;
   margin-right: auto;
   margin-left: auto;
}

.nav .user_icon {
   color: white;
   font-size: 40px;
}

.nav .nav-row {
   display: flex;
   align-items: center;
   padding: 0;
   flex: 1;
}

.nav img {
   width: 250px;
}

.nav .user_button {
   background-color: #16286a;
   display: flex;
   padding: 10px;
   border-radius: 10px;
   align-items: center;
}

.nav .user_links {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   line-height: 22px;
   padding-left: 5px;
}

.nav .user_links button {
   cursor: pointer;
}

.nav .user_links a {
   color: white;
   text-decoration: none;
}

.nav .user_links a:nth-child(2) {
   color: white;
   text-decoration: none;
   border-top: 1px solid white;
}

.nav .nav-menu-desktop {
   margin: 0;
   justify-content: space-evenly;
   font-weight: bold;
}

.nav .nav-menu-mobile {
   display: none;
}

.nav .nav-menu-desktop li {
   list-style: none;
   color: var(--blue);
}

.nav .nav-menu-desktop li:hover {
   border-bottom: 1px solid var(--blue);
}

.nav .burger_menu {
   display: none;
}

.nav .link {
   text-decoration: none;
   color: var(--blue);
}

.nav button {
   background-color: transparent;
   color: white;
   border: none;
   border-top: 1px solid white;
   padding-top: 0px;
}

@media (max-width: 768px) {
   .nav {
      flex-flow: wrap;
      padding-bottom: 10px;
      border-bottom: 1px solid grey;
   }

   .nav .nav-menu-desktop {
      display: none;
   }

   .nav .link {
      align-self: baseline;
      align-self: center;
   }

   .nav .link img {
      width: 110px;
      align-self: center;
      display: flex;
   }

   .nav .nav-row {
      flex: 1;
      justify-content: flex-end;
   }

   .nav .nav-row .user_button {
      height: 30px;
   }

   .nav .nav-row .user_icon {
      font-size: 36px;
   }

   .nav .nav-menu-mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
   }

   .nav .nav-menu-mobile li {
      list-style: none;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid var(--grey);
      padding: 2px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .nav .nav-menu-mobile {
      padding: 0px 30px;
      border: 1px solid var(--grey);
   }

   .nav .nav-menu-mobile .menu_icons {
      margin-right: 5px;
   }

   .nav .burger_menu {
      display: flex;
      margin-left: 5px;
   }
}

@media (max-width: 425px) {
   .nav .user_links a,
   .nav .user_links button {
      font-size: 9px;
      line-height: 16px;
   }
   .nav .nav-row .user_button {
      padding: 5px;
   }
   .nav {
      width: 100%;
      left: 0;
      right: 0;
      padding-right: 2px;
      padding-left: 2px;
   }
}

.activeNavLink {
   border-bottom: 1px solid var(--blue);
}
/*
########  #######   #######  ######## ######## ########  
##       ##     ## ##     ##    ##    ##       ##     ## 
##       ##     ## ##     ##    ##    ##       ##     ## 
######   ##     ## ##     ##    ##    ######   ########  
##       ##     ## ##     ##    ##    ##       ##   ##   
##       ##     ## ##     ##    ##    ##       ##    ##  
##        #######   #######     ##    ######## ##     ## 
*/

.network_links {
   display: flex;
   justify-content: space-around;
   width: 60%;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 20px;
}

.network_links svg {
   width: 80%;
}

footer {
   margin-top: 25px;
}

@media (max-width: 425px) {
   footer {
      margin-top: 25px;
   }
}

footer h2,
footer p {
   margin: 0;
}

footer .bottom_footer {
   background-color: var(--blue);
   color: white;
}

footer .footer_links ul {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 20px 0px;
   margin: 0;
}

footer .footer_links li {
   width: 33%;
   list-style: none;
   text-align: center;
   font-weight: bold;
}

footer .footer_links a {
   text-decoration: none;
   color: white;
}

footer .footer_notes h2,
footer .footer_notes p {
   text-align: center;
}

@media (max-width: 425px) {
   footer .bottom_footer {
      margin-bottom: 70px;
   }
}

/*
##     ##  #######  ##     ## ######## 
##     ## ##     ## ###   ### ##       
##     ## ##     ## #### #### ##       
######### ##     ## ## ### ## ######   
##     ## ##     ## ##     ## ##       
##     ## ##     ## ##     ## ##       
##     ##  #######  ##     ## ######## 
*/

.home {
   margin: 20px;
}

@media (max-width: 425px) {
   .home {
      margin-top: var(--height-nav-max768);
   }
}

.background_video {
   /* background: black; */
   margin: 10px auto;
   background-image: url('https://images.unsplash.com/photo-1564089969562-7b8667a4adec?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80') ;
   background-size: 100%;
}

.parent_video {
   max-width: 560px;
   margin: auto;
}

.video {
   position: relative;
   height: 0;
   padding-bottom: 56.25%;
   overflow: hidden;
}

.video iframe {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 0;
}

.home_top {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.home_top .actions {
   width: 60%;
}

.home_top .actualites {
   width: 30%;
}

.actions_list {
   display: flex;
   list-style: none;
   flex-wrap: wrap;
   padding: 0;
   justify-content: center;
}

.actions_list li {
   width: 40%;
   height: 200px;
   margin: 10px 10px 10px 0px;
   display: flex;
   border-radius: 30px;
}

.actions_list h3 {
   margin-top: auto;
   margin-bottom: auto;
}

.actions_list a {
   text-decoration: none;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.actions_list li:nth-child(1) {
   background-image: url('https://images.unsplash.com/photo-1592966556929-08111961c071?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
   background-size: cover;
}

.actions_list li:nth-child(2) {
   background-image: url('https://images.unsplash.com/photo-1579208570378-8c970854bc23?ixlib=rb-1.2.1&auto=format&fit=crop&w=1590&q=80');
   background-size: cover;
}

.actions_list li:nth-child(3) {
   background-image: url('https://images.unsplash.com/flagged/photo-1558963675-94dc9c4a66a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80');
   background-size: cover;
}

.actions_list li:nth-child(4) {
   background-image: url('https://images.unsplash.com/photo-1468779036391-52341f60b55d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1821&q=80');
   background-size: cover;
}

.actions_list li a {
   color: var(--blue);
   text-shadow: 1px 2px white;
   text-align: center;
}

.home .section_content {
   background: linear-gradient(45deg, #f8f8f9, transparent);
   border-radius: 5px;
}

.home .section_content div {
   display: flex;
   margin-top: 20px;
}

.home .section_content div img {
   height: 200px;
   align-self: center;
   margin-right: 20px;
   border-radius: 60px;
}

.home .section_content .organisation div {
   display: flex;
   flex-direction: column;
}

.home .section_content .organisation div ul {
   display: flex;
   flex-direction: column;
   width: 33%;
   height: 165px;
   flex-wrap: wrap;
   justify-content: center;
}

@media (max-width: 768px) {
   .home .section_content .organisation div ul {
      width: auto;
      height: auto;
   }
}

.home .section_content .organisation div p {
   margin: 5px;
   text-align: center;
}

.home .section_content .organisation h4 {
   text-align: center;
}

@media (max-width: 768px) {
   .home_top .actualites {
      display: none;
      width: 0px;
   }

   .home_top .actions {
      width: 100%;
   }

   .actions_list li {
      width: 40%;
      height: 100px;
      margin: 5px 5px 5px 0px;
      display: flex;
      border-radius: 5px;
   }
}
/*animations*/
.fade-enter,
.face-appear {
   opacity: 0.01;
}
.fade-enter.fade-enter-active,
.fade-appear.fade-enter-appear {
   opacity: 1;
   transition: opacity 1000ms ease-in;
}
.fade-leave {
   opacity: 1;
}
.fade-leave.fade-leave-active {
   opacity: 0.01;
   transition: opacity 10ms ease-in;
}

.home .presentation ul {
   padding: 0px;
   list-style: none;
   display: flex;
   justify-content: space-between;
   margin-bottom: 0;
}

.home .presentation ul li {
   width: 100%;
   text-align: center;
   border: 1px solid var(--blue);
   border-radius: 5px;
   background-color: white;
   margin: 3px;
   margin-bottom: 0;
}

@media (max-width: 768px) {
   .home .presentation ul {
      flex-direction: column;
   }

   .home .presentation ul li {
      width: au;
   }

   .section_content span div {
      flex-direction: column;
   }

   .home .section_content div img {
      margin-right: 0;
   }
}

@media (max-width: 768px) {
   .section_content span {
      /* flex-direction: column; */
   }
}

.home .presentation ul li:hover {
   cursor: pointer;
}

.home .presentation ul li h3 {
   margin: 0px;
}

.home .presentation .section_content {
   padding: 0px 15px 5px 15px;
}

.home .presentation .active_button {
   background: var(--blue);
   color: white;
}

.home .presentation .inactive_button {
   background: white;
   color: var(--blue);
}

.home .logos_partenaires {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.home .logos_partenaires img {
   width: 5%;
   align-self: center;
}

@media (max-width: 425px) {
   .home .logos_partenaires {
      width: 60%;
      align-items: center;
      margin-right: auto;
      margin-left: auto;
   }

   .home .logos_partenaires img {
      width: 25%;
      margin-bottom: 10px;
      align-self: center;
   }
}

.home .partenariat h3 {
   text-align: center;
}

/*
   ###    ##       ##       ##     ## ####  ######   ######  ####  #######  ##    ##  ######  
  ## ##   ##       ##       ###   ###  ##  ##    ## ##    ##  ##  ##     ## ###   ## ##    ## 
 ##   ##  ##       ##       #### ####  ##  ##       ##        ##  ##     ## ####  ## ##       
##     ## ##       ##       ## ### ##  ##   ######   ######   ##  ##     ## ## ## ##  ######  
######### ##       ##       ##     ##  ##        ##       ##  ##  ##     ## ##  ####       ## 
##     ## ##       ##       ##     ##  ##  ##    ## ##    ##  ##  ##     ## ##   ### ##    ## 
##     ## ######## ######## ##     ## ####  ######   ######  ####  #######  ##    ##  ######  
*/

.missionsList {
text-align: center
}

.missionsList .cardContainer {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   /* align-content: baseline; */
   padding-inline: 15px;
}

.missionsList .missionCard {
   border: 2px solid grey;
   border-radius: 10px;
   width: 300px;
   height: fit-content;
   padding: 20px;
   margin: 20px;
   background-color: #f8f8f9;
   list-style: none;
}

.missionsList .missionCard a {
   text-decoration: none;
   color: var(--blue);
}

.searchContainer h2 {
   color: var(--blue);
}

.searchform {
   position:relative;
   
}

.searchContainer .searchIcon {
   font-size: 20px;
   left: 320px;
   top: 5px;
   position: relative;
   /* cursor: pointer; */
   color: grey;
}

.searchContainer .DateInput {
   height: 22px;
   top: 10px;
   width: 150px;
}

.searchContainer .DateInputLabel {
   color: grey;
   
}

.searchContainer .locationInput {
   top: 10px;
   width: 150px;
   margin: 10px; 
   
}
.searchContainer {
   background-color: #f8f8f9;
   
}

.filterExpertise {
   display: flex;
   list-style: none;
   padding: 0;
   justify-content: center;
   text-align: center;
   flex-direction: row;
}

.filterExpertise li{
   width: 20%;
   height: 150px;
   margin: 10px 10px 10px 0px;
   display: flex;
   border-radius: 30px;
   cursor: pointer;
}

 .filterExpertise li:hover{
   background-color:#e66c6c; 
 }


.filterExpertise h3 {
   margin: auto;
   color: var(--blue);
   text-shadow: 1px 2px white;
}

.filterExpertise li:nth-child(1) {
   background-image: url('https://images.unsplash.com/photo-1592966556929-08111961c071?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
   background-size: cover;
   
}

.filterExpertise li:nth-child(1):active {
   filter: grayscale(100%); ;
}

.filterExpertise li:nth-child(2) {
   background-image: url('https://images.unsplash.com/photo-1579208570378-8c970854bc23?ixlib=rb-1.2.1&auto=format&fit=crop&w=1590&q=80');
   background-size: cover;
}

.filterExpertise li:nth-child(2):active {
   filter: grayscale(100%); ;
}

.filterExpertise li:nth-child(3) {
   background-image: url('https://images.unsplash.com/flagged/photo-1558963675-94dc9c4a66a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80');
   background-size: cover;
}

.filterExpertise li:nth-child(3):active {
   filter: grayscale(100%); ;
}

.filterExpertise li:nth-child(4) {
   background-image: url('https://images.unsplash.com/photo-1468779036391-52341f60b55d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1821&q=80');
   background-size: cover;
}

.filterExpertise li:nth-child(4):active {
   filter: grayscale(100%); ;
}

.filterExpertise li a {
   color: var(--blue);
   text-shadow: 1px 2px white;
   text-align: center;
}


/*
 #######                                    
 #        ####  #####    ##    ####  ###### 
 #       #      #    #  #  #  #    # #      
 #####    ####  #    # #    # #      #####  
 #            # #####  ###### #      #      
 #       #    # #      #    # #    # #      
 #######  ####  #      #    #  ####  ###### 
                                            
*/

.mon_espace {
   color: var(--blue);
}

.mon_espace img {
   width: 15%;
   box-shadow: 4px 4px #0006;
}

@media (max-width: 425px) {
   .mon_espace {
      margin-top: var(--height-nav-min768);
   }
   .mon_espace img {
      width: 30%;
   }
}

.mon_espace_top {
   display: flex;
   position: relative;
   padding: 20px;
   background-image: var(--background-image);
   background-size: 40%;
   background-position: center;
}

.mon_espace_top h2 {
   margin-bottom: 0;
   margin-top: 0;
   text-shadow: 1px 1px #f8f8f9;
   font-size: 25px;
}

.mon_espace_top > div {
   text-align: center;
   width: 100%;
   margin-top: 70px;
}

.mon_espace_top svg {
   right: 0;
   position: absolute;
   bottom: 0;
}

.mon_espace .menu_mon_espace ul {
   width: 15%;
   position: absolute;
   right: 70px;
   top: 380px;
}

.mon_espace .menu_mon_espace ul li {
   border: 1px solid black;
   list-style: none;
   background-color: var(--blue);
   color: white;
   margin: 5px;
}

.mon_espace .menu_mon_espace ul li:hover {
   text-decoration: underline;
}

@media (max-width: 425px) {
   .mon_espace .menu_mon_espace ul {
      position: fixed;
      bottom: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      right: auto;
      background: white;
      top: 90%;
      margin: 0;
      padding: 0;
   }
   .mon_espace .menu_mon_espace ul li {
      width: 100%;
   }
}

.dashboard_missions {
   background: linear-gradient(#070d428a 26%, #999cb56e 67%, white);
}

.mon_espace .missions_a_confirmer .list_missions li {
   list-style: none;
   width: 25%;
}

.mon_espace .missions_a_confirmer .list_missions span {
   display: flex;
   width: 100%;
   justify-content: center;
   flex-wrap: wrap;
}

.mon_espace .otherMissions .list_missions li {
   width: 40%;
}

.mon_espace .missions_a_confirmer .list_missions,
.mon_espace .otherMissions .list_missions {
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
}

.mon_espace .missions_a_confirmer h2 {
   text-align: center;
   margin: 0px;
   padding-top: 20px;
   font-size: 23px;
}

.mon_espace .missions_a_confirmer .entete,
.mon_espace .otherMissions .entete {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   background-size: cover;
}

.mon_espace .otherMissions .entete > div p,
.mon_espace .otherMissions .entete > div h2 {
   margin: 0;
}

.mon_espace .otherMissions .entete h3 {
   margin: 0;
}

.mon_espace .missions_a_confirmer .entete a,
.mon_espace .otherMissions .entete a {
   color: var(--blue);
   text-decoration: none;
   align-self: flex-start;
   margin-right: 3px;
}

.mon_espace .missions_a_confirmer .entete a {
   color: white;
   align-self: flex-start;
}

.mon_espace .missions_a_confirmer input,
.mon_espace .missions_a_confirmer label {
   display: block;
}

.mon_espace .missions_a_confirmer .list_candidates {
   padding: 0px;
   margin-bottom: 15px;
   max-height: 200px;
   overflow: scroll;
   flex: 1;
}

.mon_espace .missions_a_confirmer .list_candidates li {
   width: auto;
}

.mon_espace .missions_a_confirmer .each_candidate,
.mon_espace .otherMissions .each_candidate {
   display: flex;
   align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
   .mon_espace .menu_mon_espace ul {
      top: 250px;
   }
}

@media (max-width: 425px) {
   .mon_espace .missions_a_confirmer .list_missions span {
      flex-direction: column;
   }
   .mon_espace .missions_a_confirmer .list_missions li,
   .mon_espace .otherMissions .list_missions li {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
   }
}

/*animations*/
.mission-enter,
.mission-appear {
   opacity: 0;
}
.mission-enter .mission-enter-active,
.mission-appear .mission-appear-active {
   opacity: 1;
   transition: opacity 10000ms ease-in;
}
.mission-leave {
   opacity: 1;
}
.mission-leave .mission-leave-active {
   opacity: 0.5;
   transition: opacity 10000ms ease-in;
}

.mon_espace .otherMissions {
   background: var(--grey);
   margin: 30px 50px;
   border-radius: 5px;
   padding: 10px 0px;
   border: 2px ridge #8080807a;
}

.mon_espace .otherMissions .each_candidate img {
   border-radius: 30px;
}

.mon_espace .otherMissions .selected_candidate {
   display: flex;
   justify-content: space-between;
   margin-top: 5px;
}

.mon_espace .otherMissions .each_candidate p,
.mon_espace .otherMissions .selected_candidate a {
   margin: 0;
   margin-left: 10px;
   color: var(--blue);
   text-decoration: none;
}

.mon_espace .otherMissions .selected_candidate .status {
   display: inline;
   padding: 5px;
   border-radius: 5px;
   color: white;
   align-self: center;
}

.mon_espace .missions_a_confirmer .each_mission,
.mon_espace .otherMissions .each_mission {
   background: linear-gradient(45deg, #f8f8f9, transparent);
   margin: 10px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   box-shadow: 5px 5px 5px 5px rgb(91 87 109 / 41%);
   border-radius: 5px;
}

.mon_espace .missions_a_confirmer .each_mission p,
.mon_espace .otherMissions .each_mission p {
   color: rgb(91, 87, 109);
}

.mon_espace .missions_a_confirmer label {
   width: 60%;
}

.mon_espace .missions_a_confirmer label a {
   /*for Link*/
   width: 40%;
   color: var(--blue);
   text-decoration: none;
}

.mon_espace .dashboardSearch {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   margin-top: 5px;
}

.mon_espace .dashboardSearch svg {
   margin-left: 20px;
}

.mon_espace .dashboardSearch svg:hover {
   cursor: pointer;
}

.mon_espace .dashboardSearch li h2 {
   font-size: 13px;
}

.mon_espace .dashboardSearch ul {
   list-style: none;
   display: flex;
}

.mon_espace .dashboardSearch ul li {
   padding: 0px 15px;
   text-align: center;
   border-radius: 5px;
   margin: 0px 10px;
}

.mon_espace .dashboardSearch ul li:hover {
   cursor: pointer;
}

.mon_espace .dashboardSearch li:nth-child(1) {
   background: green;
}

.mon_espace .dashboardSearch li:nth-child(2) {
   background: white;
}

.mon_espace .dashboardSearch li:nth-child(3) {
   background: grey;
}

.mon_espace .dashboardSearch input {
   width: 300px;
   align-self: stretch;
   border-radius: 5px;
   background: white;
   color: var(--blue);
   text-align: center;
}

.mon_espace .dashboardSearch input::placeholder {
   color: var(--blue);
}

.mon_espace .dashboardSearch input:focus {
   border: 1px solid var(--blue);
}

@media (max-width: 425px) {
   .dashboardSearch {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .dashboardSearch ul {
      padding: 0;
      flex-wrap: wrap;
      justify-content: center;
   }
   .mon_espace .dashboardSearch ul li {
      padding: 0px 3px;
      margin: 2px;
   }
   .mon_espace .dashboardSearch ul li h2 {
      margin: 2px 0px;
   }
   .mon_espace .dashboardSearch input {
      width: 90%;
      margin-right: auto;
      margin-left: auto;
   }
   .mon_espace .dashboardSearch svg {
      margin-left: 0;
      margin-top: 10px;
   }
   .mon_espace .otherMissions {
      margin: 20px 10px;
   }
}
/*
##        #######   ######   #### ##    ##  ######  ####  ######   ##    ## ##     ## ########  
##       ##     ## ##    ##   ##  ###   ## ##    ##  ##  ##    ##  ###   ## ##     ## ##     ## 
##       ##     ## ##         ##  ####  ## ##        ##  ##        ####  ## ##     ## ##     ## 
##       ##     ## ##   ####  ##  ## ## ##  ######   ##  ##   #### ## ## ## ##     ## ########  
##       ##     ## ##    ##   ##  ##  ####       ##  ##  ##    ##  ##  #### ##     ## ##        
##       ##     ## ##    ##   ##  ##   ### ##    ##  ##  ##    ##  ##   ### ##     ## ##        
########  #######   ######   #### ##    ##  ######  ####  ######   ##    ##  #######  ##        
*/

.logSignbackground {
   height: 700px;
   background-color: lightgrey;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logSignScreenPopup {
   background-color: var(--blue);
   text-align: center;
   padding: 80px;
   width: 300px;
   border-radius: 10px
}

.logSignScreenPopup #buttonMonEspace,
#buttonInscrire {
   margin-left: 20px;
   margin-right: 20px;
   color: white;
   font-weight: bold;
   text-decoration: none;
   font-size: 15px;
   margin-bottom: 10px;
}

.loginScreen #buttonMonEspace {
   border-bottom: 1px solid white;
   margin-left: -10px;
}

.mainSinup #buttonMonEspace {
   margin-left: -10px;
}

.logSignScreenPopup form input,
.step_forms input,
select {
   width: 220px;
   height: 20px;
   font-size: 15px;
   margin: 20px;
}

.step_forms textarea {
   margin-top: 20px;
   resize: none;
   height: 100px;
   width: 220px;
}

.step_forms select {
   height: 26px;
   width: 226px;
   margin: 20px;
}

.logSignScreenPopup button {
   color: var(--blue);
   background-color: white;
   border: none;
   font-weight: bold;
   padding:7px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 15px;
   margin: 10px
}

#buttonIcon {
   color: var(--blue);
   background-color: white;
   border: none;
   font-weight: bold;
   padding-top: 0px;
   padding-right: 10px;
   padding-bottom: 7px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 15px;
   margin: 10px;
   position: relative; 
   
}

.mainSinup #buttonInscrire {
   border-bottom: 1px solid white;
}

.finalStep p {
   color: white;
}

.messagesOnDark,
.TextSignup {
   color: white;
}

.loginScreen .loginIcon {
   color: black;
   font-size: 20px;
   top: 5px;
   position: relative;
}

.loginScreen .mainSinup, .closeIcon {
   color: white;
   font-size: 20px;
   position: relative;
   top: -70px;
   left: 315px;
   cursor: pointer;
}

.signupMessagesOnDark{
   color: white; 
   font-weight: bold;
   font-size: 20px;
   text-align: center;
}

/* 
 for overlay css see login js */
/* #cover{
   position:fixed;
   top:0;
   left:0;
   background:rgba(0,0,0,0.6);
   z-index:5;
   width:100%;
   height:100%;
   display:none;
}
#loginScreen
{
   height:380px;
   width:340px;
   margin:0 auto;
   position:relative;
   z-index:10;
   display:none;

   border:5px solid #cccccc;
   border-radius:10px;
}

#loginScreen:target, #loginScreen:target + #cover{
   display:block;
   opacity:2;
} */

 

/*
########  #######  ########  ##     ##  ######  
##       ##     ## ##     ## ###   ### ##    ## 
##       ##     ## ##     ## #### #### ##       
######   ##     ## ########  ## ### ##  ######  
##       ##     ## ##   ##   ##     ##       ## 
##       ##     ## ##    ##  ##     ## ##    ## 
##        #######  ##     ## ##     ##  ######  
*/

.parentForm {
   display: flex;
   justify-content: center;
   align-items: center;
}

.formStyle {
   background-color: #f8f8f9;
   /* text-align: center; */
   padding: 20px;
   border-left: 10px inset var(--grey);
   border-top: 10px outset var(--blue);
}

.formStyle h1 {
   text-align: center;
}

.formStyle input,
select {
   width: 320px;
   height: 20px;
   font-size: 15px;
   margin: 0;
   color: grey;
}

.formStyle label {
   display: inline-block;
   width: 200px;
}

.formStyle textarea {
   margin-top: 20px;
   resize: none;
   height: 60px;
   width: 320px;
}

.formStyle select {
   height: 26px;
   width: 226px;
}

.formStyle button {
   color: white;
   background-color: grey;
   border: none;
   font-weight: bold;
   padding: 7px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 15px;
   margin: 25px auto;
   display: block;
}

.deleteButton {
   color: white;
   background-color: black;
   border: none;
   font-weight: bold;
   padding: 7px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 15px;
   margin: 25px auto;
   display: block;
}
/*
##     ## ##    ## ########    ##     ## ####  ######   ######  ####  #######  ##    ## 
##     ## ###   ## ##          ###   ###  ##  ##    ## ##    ##  ##  ##     ## ###   ## 
##     ## ####  ## ##          #### ####  ##  ##       ##        ##  ##     ## ####  ## 
##     ## ## ## ## ######      ## ### ##  ##   ######   ######   ##  ##     ## ## ## ## 
##     ## ##  #### ##          ##     ##  ##        ##       ##  ##  ##     ## ##  #### 
##     ## ##   ### ##          ##     ##  ##  ##    ## ##    ##  ##  ##     ## ##   ### 
 #######  ##    ## ########    ##     ## ####  ######   ######  ####  #######  ##    ## 
*/

.pageMission {
   /* background-color: var(--blue); */
}

.pageMission .locationIcon{
 font-size: 18px;
}

.detailsMission {
   background-color: #f8f8f9;
   padding: 20px;
   margin: 25px auto;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.detailsMissionBlock{
   background-color: #f8f8f9;
   padding: 20px;
   border-left: 10px inset var(--grey);
   border-top: 10px outset var(--blue);
   width: 530px;
}



.formStyle h1 {
   text-align: center;
}



/* .detailsMission .missionHeader{
   text-align: center;
} */

.detailsMission span{
   color: grey;
   font-weight: bold;
}

.pageMission .buttonHelp {
   color: white;
   background-color: var(--blue);
   border: none;
   font-weight: bold;
   padding: 7px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 15px;
   margin: 25px auto;
   display: block;
}

.editMissionForm form{
   border-right: 10px inset var(--grey);
   border-top: 10px outset var(--blue);
   border-left: none;
}

.pageMission button,
.redirect_link {
   display: block;
   margin: 25px auto;
   text-align: center;
}

.redirect_link {
   text-decoration: none;
}

/*
########  ########   #######  ######## #### ##       ######## 
##     ## ##     ## ##     ## ##        ##  ##       ##       
##     ## ##     ## ##     ## ##        ##  ##       ##       
########  ########  ##     ## ######    ##  ##       ######   
##        ##   ##   ##     ## ##        ##  ##       ##       
##        ##    ##  ##     ## ##        ##  ##       ##       
##        ##     ##  #######  ##       #### ######## ######## 
*/

/* .profile {
   background:linear-gradient(#070d428a 26%, #999cb56e 67%, white);
} */
.infoProfile{
   width: 70%;
   color: black;
}

.profile .missionCard h2{
   color: black;
}

.profile .envoyerEmail a{
   text-decoration: none;
   color: var(--blue);
   float: right;
   font-size: 15px;
   position: relative;
   
}

.infoProfile span{
   color: grey;
}

.profile .listMissions {
   text-align: center;
}

.emailIcon{
   font-size: 40px;
   position: relative;
   vertical-align: middle;
}  

